body {
  font-family: Helvetica Neue, Arial, sans-serif;
  text-align: center;
}

.wrapper {
  max-width: 800px;
  margin: 50px auto;
}

.button {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
   border: 1px solid lightblue;  
}
.button1{
  width: 100%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #008CBA;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenavright{
   height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #008CBA;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}


.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 5px;
    color: #000;
    display: block;
    transition: 0.3s;
}
.sidenavright a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 5px;
    color: #000;
    display: block;
    transition: 0.3s;
}


.sidenav a:hover {
    color: #f1f1f1;
}
.sidenavright a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: -60px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidenavright .closebtn {
    position: absolute;
    top: -60px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
  .sidenavright {padding-top: 15px;}
  .sidenavright a {font-size: 18px;}
}

h1 {

  font-weight: 200;
  font-size: 3em;
  margin: 0 0 0.1em 0;
}

h2 {
  font-weight: 200;
  font-size: 0.9em;
  margin: 0 0 50px;
  color: #999;
}

a {
  margin-top: 50px;
  display: block;
  color: #3e95cd;
}
